doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Проверка сайта dvggtk.ru
    style.
      summary {
        cursor: pointer;
      }

  body
    header
      - const domain = new URL(startUrl).host;
      h1 Проверка сайта #[a(href=startUrl)= domain]
      -
        const date = new Date();
        // Опция для локализации с указанием часового пояса
        const options = {
          timeZone: 'Asia/Vladivostok', // Замените на нужный часовой пояс
          year: 'numeric',
          month: '2-digit',
          day: '2-digit',
          hour: '2-digit',
          minute: '2-digit',
          second: '2-digit',
          hour12: false // Используем 24-часовой формат
        };

        // Генерируем строку с учетом часового пояса
        const localDateString = date.toLocaleString('sv-SE', options).replace(' ', 'T');

        // Добавляем смещение часового пояса
        const timezoneOffset = -date.getTimezoneOffset();
        const offsetHours = String(Math.floor(Math.abs(timezoneOffset) / 60)).padStart(2, '0');
        const offsetMinutes = String(Math.abs(timezoneOffset) % 60).padStart(2, '0');
        const offsetSign = timezoneOffset >= 0 ? '+' : '-';
        const isoWithTimezone = `${localDateString}${offsetSign}${offsetHours}:${offsetMinutes}`;

      p Дата и время проверки #[time(datetime=date.toISOString())=isoWithTimezone]
      div
        button#inspect Начать новую проверку

    main
      section
        h2 Битые ссылки (#{brokenLinks.length})
        ol
          each row in brokenLinks
            li
              div
                p
                  a(href=row.url)= decodeURIComponent(row.url)
                details
                  summary Страницы, где найдена ссылка (#{row.linksFrom.length})
                  ul
                    each linkFrom in row.linksFrom
                      li
                        a(href=linkFrom)= decodeURIComponent(linkFrom)

      section
        h2 Ссылки на test-dv.ru (#{testLinks.length})
        ol
          each row in testLinks
            li
              div
                p
                  a(href=row.url)= decodeURIComponent(row.url)
                details
                  summary Страницы, где найдена ссылка (#{row.linksFrom.length})
                  ul
                    each linkFrom in row.linksFrom
                      li
                        a(href=linkFrom)= decodeURIComponent(linkFrom)

    footer ∎

    script.
      const sse = new EventSource('/events');
      sse.addEventListener('message', (event) => {
        console.log('data', event.data);
      });

      sse.addEventListener('finish', (event) => {
        window.location.reload();
      });

      const inspectBtn = document.getElementById('inspect');
      inspectBtn.addEventListener('click', async (event) => {
        try {
        const res = await fetch('/inspect?start=1');
        if (!res.ok) {
          console.log({res});
        } else {
          const url = '/log';
          const windowName = 'Лог проверки сайта';
          const windowFeatures = 'width=800,height=600,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes';

          const newWindow = window.open(url, windowName, windowFeatures);
        }

        } catch (err) {
          console.log(err);
        }
      })
